<div class="sidebar">
  <div class="sidebar-content">
    <h1>TeXnikum</h1>
    {% for node in site.data.pages %}
    {{ node.title }}
    {{ node.url }}
    {% endfor %}
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"> <!-- {% if page.title == "texnikum.dk/hello" %}active{% endif %}"> -->
        <a href="/">Home</a>
      </li>

      <li class="sidebar-nav-item"> <!-- {% if page.title == "Github" %}active{% endif %}"> -->
        <a href="/">Github</a>
      </li>

    </ul>
  </div>
</div>
