
html {
    font-family: "PT Sans";
    font-size: 18px;
}

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(100, 20, 80);
}

@media (min-width: 48rem) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 18rem;
        text-align: left;
    }
}

.sidebar a {
    color: #fff;
}

.sidebar-nav {
    padding-left: 0;
    list-style: none;
}

.sidebar-nav-item {
    display: block;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}
.sidebar-nav-item.active {
    font-wheight: bold;
}
