
html {
    font-family: "PT Sans";
    font-size: 14pt;
}

body {
    background-color: #726B7A
}

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 1);
    background-color: #4D1740;
    border-right: thick solid #CE1E73;
}

@media (min-width: 48rem) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 14rem;
        text-align: left;
    }
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 18pt;
}

.sidebar h1 {
    color: #fff;
    margin-top: 0;
    font-size: 32pt;
}
.sidebar-nav {
    padding-left: 0;
    list-style: none;
}

.sidebar-nav-item {
    display: block;
    padding-bottom: 0.5rem;
}

.sidebar-nav-item a:focus,
.sidebar-nav-item a:hover {
    text-decoration: underline;
}

.sidebar-nav-item.active {
    font-wheight: bold;
}

@media (min-width: 48rem) {
    .sidebar-content {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        left: 1rem;
    }
}

.content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 48rem) {
    .content{
        max-width: 38rem;
        margin-left: 22rem;
        margin-right: 2rem;
    }
}
